h1 {
    color:maroon;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: antiquewhite;
    padding: 50px;
    border: 5px double saddlebrown;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

body {
    background-image: url("https://st.depositphotos.com/3470617/4869/v/380/depositphotos_48690405-stock-illustration-fast-food-pattern.jpg?forcejpeg=true");
  }

div {
    margin: auto;
    text-align: center;
}